<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sas.rh.reimbursehelper">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddBaoxiaojizhuActivity" />
        <activity android:name=".SubjectsManagerActivity" />
        <activity android:name=".MembersManageActivity" />
        <activity android:name=".DepartmentsManageActivity" />
        <activity android:name=".ProjectsManagerActivity" />
        <activity android:name=".EnterpriseDetailActivity" />
        <activity android:name=".PersonalDetailActivity" />
        <activity android:name=".SubjectsManagerAddItemActivity" />
        <activity android:name=".DepartmentsManageAddItemActivity" />
        <activity android:name=".DepartmentsManageAddMasterActivity" />
        <activity android:name=".ProjectsManagerAddItemActivity" />
        <activity android:name=".ProjectsManagerAddMasterActivity" />
        <activity android:name=".ProjectsManagerAddMemberActivity" />
        <activity android:name=".MembersManageAddStaffActivity" />
        <activity android:name=".MembersManageDetailInfoActivity" />
        <activity android:name=".MyReimburseActivity" />
        <activity android:name=".MyApprovalActivity" />
        <activity android:name=".MyFeeActivity" />
        <activity android:name=".ReimburseBillCreateActivity" />
        <activity android:name=".MyApprovalDetailActivity" />
        <activity android:name=".ApproveProcedureManageActivity" />
        <activity android:name=".ApproveProcedureManageConfigActivity" />
        <activity android:name=".ApproveProcedureManageConfigAddApproverActivity"></activity>

        <activity
            android:theme="@style/customTheme"
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            />

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="423ff17515038a50c41085cc2dbd0087d2e51cbb" />
    </application>

</manifest>