<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sas.rh.reimbursehelper">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--android:theme="@style/AppTheme"-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.AddBaoxiaojizhuActivity" />
        <activity android:name=".view.activity.AddExpenseActivity" />
        <activity android:name=".view.activity.SubjectsManagerActivity" />
        <activity android:name=".view.activity.MembersManageActivity" />
        <activity android:name=".view.activity.DepartmentsManageActivity" />
        <activity android:name=".view.activity.ProjectsManagerActivity" />
        <activity android:name=".view.activity.EnterpriseDetailActivity" />
        <activity android:name=".view.activity.PersonalDetailActivity" />
        <activity android:name=".view.activity.SubjectsManagerAddItemActivity" />
        <activity android:name=".view.activity.DepartmentsManageAddItemActivity" />
        <activity android:name=".view.activity.DepartmentsManageAddMasterActivity" />
        <activity android:name=".view.activity.ProjectsManagerAddItemActivity" />
        <activity android:name=".view.activity.ProjectsManagerAddMasterActivity" />
        <activity android:name=".view.activity.ProjectsManagerAddMemberActivity" />
        <activity android:name=".view.activity.MembersManageAddStaffActivity" />
        <activity android:name=".view.activity.MembersManageDetailInfoActivity" />
        <activity android:name=".view.activity.MyReimburseActivity" />
        <activity android:name=".view.activity.MyApprovalActivity" />
        <activity android:name=".view.activity.MyFeeActivity" />
        <activity android:name=".view.activity.ReimburseBillCreateActivity" />
        <activity android:name=".view.activity.MyApprovalDetailActivity" />
        <activity android:name=".view.activity.ApproveProcedureAddActivity" />
        <activity android:name=".view.activity.ApproveProcedureManageConfigActivity" />
        <activity android:name=".view.activity.ApproveProcedureManageConfigAddApproverActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="423ff17515038a50c41085cc2dbd0087d2e51cbb" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <activity android:name=".view.activity.RegCertActivity" />
        <activity android:name=".view.activity.MyFeeDetailActivity" />
        <activity android:name=".view.activity.RegistPageActivity" />
        <activity android:name=".view.activity.RegFirstStepActivity" />
        <activity android:name=".view.activity.RegSecondStepActivity"></activity>
        <activity android:name=".view.activity.PdfSignatureActvity"></activity>
        <activity android:name=".view.activity.SignVerifyP1Activity"></activity>
        <activity android:name=".view.activity.ViewExpenseActivity"></activity>
        <activity android:name=".view.activity.ExpenseDetailActivity"></activity>
        <activity android:name=".view.activity.ApprovalDetailActivity"></activity>
        <activity android:name=".view.activity.ThirdExpenseTypeActivity"></activity>
        <activity android:name=".view.activity.ViewApprovalDetailActivity"></activity>
        <activity android:name=".view.activity.TestApprovalDetailActivity"></activity>
        <activity android:name=".view.activity.CompanyManaSelectActivity"></activity>
        <activity android:name=".view.activity.ApproveProcedureManageActivity"></activity>
        <activity android:name=".view.activity.SelectCompanyActivity"></activity>
        <activity android:name=".view.activity.ApplicantActivity"></activity>

        <service android:name=".service.NoticeMsgService"></service>

        <activity android:name=".view.activity.RegisterActivity"></activity>
        <activity android:name=".view.activity.BeforeRegisterActivity"></activity>
        <activity android:name=".view.activity.JoinOrRegisterCompanyActivity"></activity>

        <!--新的-->
        <activity android:name=".newactivity.AddExpenseItemActivtity"></activity>
        <activity android:name=".newactivity.ExpenseTypeActivity"></activity>
        <activity android:name=".newactivity.ExpenseItemListActivity"></activity>
        <activity android:name=".newactivity.SubmitExpenseActivity"></activity>
        <!--我的报销单审批进度详情-->
        <activity android:name=".newactivity.ExpenseProcessDetailActvity"></activity>
        <!--待审批报销单进度详情-->
        <activity android:name=".newactivity.ApprovalProcessDetailActvity"></activity>
    </application>

</manifest>